<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkt.plan4workout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.WorkoutHistoryActivity"></activity>
        <activity android:name=".View.DoWorkoutActivity" />
        <activity android:name=".View.AddWorkout" />
        <activity android:name=".View.AddExerciseToPlan" />
        <activity android:name=".View.ExerciseActivity" />
        <activity android:name=".View.AddEditPlanActivity" />
        <activity android:name=".View.AddEditExerciseActivity" />
        <activity android:name=".View.DoEditWorkoutExercise" />
        <activity
            android:name=".View.CalendarActivity"
            android:label="@string/app_name" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>